*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	margin:auto;
    width:90%
}
.row{
    display:flex;
	gap:5%;
}
.col{
	position:relative;
	margin-top:20px;
}
.kr {
	position:absolute;
	top:80%;
	left:13%;
	text-align:center;
	background-color:#ffffffcf;
	padding:20px;
	border-radius:10px;
	box-shadow:0 0 8px #66a3ff;
}
img{
	max-width:100%;
} 
.icon{
	position:absolute;
	top:-20%;
}
.icon { 
     width:50px;
	 height:50px;
     padding:10px;
     border-radius:50%;
     background-color:#00add4;
    display:flex;
	margin:auto;
	justify-content:center;
	align-items:center;
	left:42%;
	border:5px solid #ffff;
}
.col1{
	padding:10px;
}
.col1 p {
	padding-top:5px;
}
